* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  src: url(../fonts/Montserrat-Regular.ttf);
  font-family: 'Montserrat';
}

@font-face {
  src: url(../fonts/Roboto-Light.ttf);
  font-family: 'Roboto';
}

header {
  background-image: url("../img/Bitmapheader.png");
  background-repeat: no-repeat;
  height: 700px;
  width: 1440px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  width: 152px;
  height: 24px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 46px 596px 0px 248px;
}

.navbar {
  margin: 40px 291px 0px 0px;
  height: 36px;
  width: 153px;
}

a {
  text-decoration: none;
  color: white;
  height: 17px;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}

.a1 {
  height: 17px;
  width: 44px;
}

.navbar button {
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  height: 36px;
  width: 90px;
  background-color: transparent;
  margin: 0px 0px 0px 15px;
}

h1 {
  width: 470px;
  height: 126px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 63px;
  text-align: center;
  color: #FFFFFF;
  margin: 148px 485px 0px 484px;
}

h5 {
  width: 396px;
  height: 25px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #F7F3F2;
  margin: 27.5px 522px 0px 522px;
}

.but button {
  width: 225px;
  height: 40px;
  background: #FF4E50;
  border-radius: 40px;
  border-color: transparent;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  margin: 33px 607px 224px 608px;
}

.block1_inside1 .inside__but1 button, .block1_inside2 .inside__but2 button, .block1_inside3 .inside__but3 button {
  width: 70px;
  height: 20px;
  background: #FF4E50;
  border-color: transparent;
  border-radius: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.block1_inside1 h2, .block1_inside3 h2 {
  width: 250px;
  height: 58px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 21px 25px 0px 25px;
}

.block1_inside1 p, .block1_inside2 p, .block1_inside3 p {
  width: 250px;
  height: 57px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #E3E3E3;
  margin: 10px 25px 21px 25px;
}

.block1 {
  width: 940px;
  height: 461px;
  margin: 89px 250px 0px 250px;
}

.block1_inside {
  width: 940px;
  height: 424px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block1_inside1, .block1_inside2, .block1_inside3 {
  width: 300px;
  height: 400px;
}

.block1_inside1 {
  background-image: url("../img/Bitmap.png");
}

.block1_inside1 .inside__but1 button {
  margin: 219px 205px 0px 25px;
}

.block1_inside2 {
  background-image: url("../img/Bitmap2.png");
}

.block1_inside2 .inside__but2 button {
  margin: 250px 205px 0px 25px;
}

.block1_inside2 h2 {
  width: 250px;
  height: 29px;
  margin: 28px 205px 0px 25px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 14px;
  color: #FFFFFF;
}

.block1_inside3 {
  background-image: url("../img/Bitmap3.png");
}

.block1_inside3 .inside__but3 button {
  margin: 219px 205px 0px 25px;
}

.block1 .pp {
  width: 342px;
  height: 32px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #444444;
  margin: 89px 299px 35px 299px;
}

.block2_inside1, .block2_inside2, .block2_inside3, .block2_inside4 {
  width: 221px;
  height: 224px;
}

.block2_inside .text {
  width: 221px;
  height: 18px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
  text-align: center;
  margin: 17px 0 0;
}

.block2_inside p {
  width: 221px;
  height: 57px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #666666;
  margin: 12px 0 0;
}

.block2 {
  width: 941px;
  height: 291px;
  margin: 95px 249px 0px 250px;
}

.block2 h1 {
  width: 491px;
  height: 32px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #444444;
  margin: 6px 224px 0px 226px;
}

.block2 img {
  width: 120px;
  height: 120px;
  margin: 0 50px;
}

.block2_inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 941px;
  height: 224px;
  margin: 33px 0 0;
}

.block2__but button {
  width: 180px;
  height: 40px;
  border-radius: 40px;
  border: 2px solid #FF4E50;
  background: #FFFFFF;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #FF4E50;
  text-align: center;
  margin: 36px 380px 0px 381px;
}

.block3_inside1, .block3_inside2, .block3_inside3, .block3_inside4, .block3_inside5, .block3_inside6, .block3_inside7 {
  mix-blend-mode: normal;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.block3 {
  width: 940px;
  height: 1031px;
  margin: 165px 250px 0px 250px;
}

.block3 h1 {
  width: 413px;
  height: 32px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 32px;
  text-align: center;
  color: #444444;
  margin: 0 auto;
}

.block3_inside {
  width: 940px;
  height: 970px;
  margin: 35px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block3_inside1 {
  width: 300px;
  height: 310px;
  background-image: url(../img/block3/Bitmap.png);
  background-repeat: no-repeat;
}

.block3_inside2 {
  width: 300px;
  height: 310px;
  background-image: url(../img/block3/Bitmap2.png);
  background-repeat: no-repeat;
}

.block3_inside3 {
  width: 300px;
  height: 310px;
  background-image: url(../img/block3/Bitmap3.png);
  background-repeat: no-repeat;
}

.block3_inside4 {
  width: 300px;
  height: 310px;
  background-image: url(../img/block3/Bitmap4.png);
  background-repeat: no-repeat;
}

.block3_inside5 {
  width: 620px;
  height: 310px;
  background-image: url(../img/block3/Bitmap5.png);
  background-repeat: no-repeat;
}

.block3_inside6 {
  width: 620px;
  height: 310px;
  background-image: url(../img/block3/Bitmap6.png);
  background-repeat: no-repeat;
}

.block3_inside7 {
  width: 300px;
  height: 310px;
  background-image: url(../img/block3/Bitmap7.png);
  background-repeat: no-repeat;
}

.block3 p {
  width: 100%;
  height: 27px;
  margin: 142px auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}

.block3 img {
  border-radius: 4px;
}

.block4 {
  width: 482px;
  height: 158px;
  margin: 95px 480px 100px 478px;
}

.block4 h1 {
  width: 358px;
  height: 32px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #444444;
  margin: 0 auto;
}

.block4 p {
  width: 415px;
  height: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 14px;
  text-align: center;
  color: #666666;
  margin: 54px auto 0;
}

.block4 input {
  width: 299px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #D4D4D4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
  border-radius: 3px;
}

.block4 input[placeholder] {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.block4 .example {
  margin: 15px auto 0;
}

.block4 button {
  width: 172.12px;
  height: 40px;
  background: #FF4E50;
  border-radius: 40px;
  border: transparent;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

footer {
  width: 1440px;
  height: 224px;
  border-top: 3px solid #FF4E50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer h1 {
  width: 119px;
  height: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FF4E50;
  margin: 38px 122px 202px 249px;
}

footer .company {
  width: 114px;
  height: 184px;
  text-align: left;
  margin: 40px 125px 36px 0px;
  line-height: 1px;
}

footer .company h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
}

footer .company .pppp {
  display: none;
}

footer .company p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #999999;
}

footer .partners {
  width: 64px;
  height: 17px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
  margin: 40px 287px 167px 0px;
}

footer .designed {
  width: 113px;
  height: 43px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #CCCCCC;
  text-align: right;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  margin: 40px 247px 141px 0px;
}

footer .designed img {
  width: 110px;
  height: 24px;
  margin: 10px 0px 0px;
}

@media screen and (max-width: 768px) {
  header {
    width: 768px;
    background-image: url("../img/Bitmapheadertab.png");
  }
  .logo {
    margin: 46px 365px 0px 48px;
  }
  .navbar {
    margin: 40px 50px 0px 0px;
  }
  h1 {
    margin: 223.5px 149px 0px;
  }
  h5 {
    margin: 28.5px 186px;
  }
  .but button {
    margin: 33px 271px 224px 272px;
  }
  .block1_inside1 h2, .block1_inside3 h2 {
    width: 196px;
    line-height: 14px;
  }
  .block1_inside1 p, .block1_inside2 p, .block1_inside3 p {
    width: 196px;
    height: 76px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #E3E3E3;
    margin: 10px 20px 16px;
  }
  .block1 {
    width: 748px;
    margin: 95px 10px 0px;
  }
  .block1_inside {
    width: 748px;
    height: 424px;
    margin: 0px 0px 0px 0px;
  }
  .block1_inside1, .block1_inside2, .block1_inside3 {
    width: 236px;
  }
  .block1_inside1 .inside__but1 button {
    margin: 210px 160px 0px 34px;
  }
  .block1_inside3 .inside__but3 button {
    margin: 210px 134px 0px 32px;
  }
  .block1 .pp {
    width: 289px;
    height: 27px;
    font-size: 22px;
    line-height: 27px;
    margin: 1px 229px 35px 230px;
  }
  .block2_inside1, .block2_inside2, .block2_inside3, .block2_inside4 {
    width: 236px;
    height: 208px;
  }
  .block2_inside .text {
    width: 236px;
  }
  .block2_inside p {
    width: 236px;
  }
  .block2 {
    width: 492px;
    height: 526px;
    margin: 94px 138px 0px;
  }
  .block2 h1 {
    width: 416px;
    height: 27px;
    font-size: 22px;
    line-height: 27px;
    margin: 1px 38px 0px;
  }
  .block2 img {
    width: 120px;
    height: 120px;
    margin: 0 50px;
  }
  .block2_inside {
    width: 492px;
    height: 464px;
    margin: 32px auto 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .block2__but button {
    margin: 40px 156px 0px;
  }
  .block3 {
    width: 748px;
    height: 1031px;
    margin: 160px 10px 0px;
  }
  .block3 h1 {
    width: 350px;
    height: 27px;
    font-size: 22px;
    line-height: 27px;
  }
  .block3_inside {
    width: 748px;
  }
  .block3_inside1 {
    width: 236px;
  }
  .block3_inside2 {
    width: 236px;
  }
  .block3_inside3 {
    width: 236px;
  }
  .block3_inside4 {
    width: 236px;
  }
  .block3_inside5 {
    width: 492px;
  }
  .block3_inside6 {
    width: 492px;
  }
  .block3_inside7 {
    width: 236px;
  }
  .block3 p {
    margin: 128px auto;
  }
  .block4 {
    width: 481.12px;
    height: 159px;
    margin: 95px 143px 0px;
  }
  .block4 h1 {
    width: 303px;
    height: 27px;
    font-size: 22px;
    line-height: 27px;
    margin: 1px auto 0;
  }
  .block4 p {
    margin: 43px auto 0;
  }
  .block4 .example {
    margin: 15px auto 0;
  }
  footer {
    width: 768px;
    margin: 100px 0px 20px 0px;
  }
  footer h1 {
    margin: 38px 108px 166px 39px;
  }
  footer .company {
    margin: 40px 56px 0px 0px;
  }
  footer .company .pppp {
    display: none;
  }
  footer .partners {
    margin: 40px 118px 167px 0px;
  }
  footer .designed {
    margin: 40px 37px 141px 0px;
  }
}

@media screen and (max-width: 320px) {
  header {
    width: 320px;
    height: 540px;
    background-image: url("../img/Bitmapheadermob.png");
  }
  .logo {
    margin: 97px 0px 0px 100px;
    color: #eeecec;
  }
  nav {
    width: 245px;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .navbar {
    margin: 20px 0px 0px 92px;
  }
  .navbar a {
    color: #e4e4e4;
  }
  .navbar button {
    border: 2px solid #e4e4e4;
  }
  h1 {
    width: 272px;
    height: 74px;
    font-size: 30px;
    line-height: 37px;
    margin: 26.5px 5px 0px 37px;
    color: #e4e4e4;
  }
  h5 {
    width: 280px;
    height: 49px;
    margin: 5.5px 1px 0px 39px;
    font-size: 18px;
  }
  .but button {
    width: 280px;
    margin: 10px 0px 153px 30px;
  }
  .block1_inside1 h2, .block1_inside3 h2 {
    width: 250px;
    height: 58px;
    margin: 15px 30px 0px 20px;
  }
  .block1_inside1 p, .block1_inside2 p, .block1_inside3 p {
    width: 250px;
    height: 57px;
    margin: 10px 30px 16px 20px;
  }
  .block1 {
    width: 300px;
    height: 781px;
    margin: 35px 10px 0px;
  }
  .block1_inside {
    width: 300px;
    height: 740px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 15px auto 0px;
  }
  .block1_inside1, .block1_inside2, .block1_inside3 {
    width: 300px;
    height: 240px;
  }
  .block1_inside1 {
    background-image: url("../img/Bitmapmob.png");
  }
  .block1_inside1 .inside__but1 button {
    margin: 64px 210px 0px 20px;
  }
  .block1_inside2 {
    background-image: url("../img/Bitmap2mob.png");
  }
  .block1_inside2 .inside__but2 button {
    margin: 95px 210px 0px 20px;
  }
  .block1_inside3 {
    background-image: url("../img/Bitmap3mob.png");
  }
  .block1_inside3 .inside__but3 button {
    margin: 64px 210px 0px 20px;
  }
  .block1 .pp {
    margin: 0 auto;
  }
  .block2_inside1, .block2_inside2, .block2_inside3, .block2_inside4 {
    height: 208px;
  }
  .block2 {
    width: 280px;
    height: 955px;
    margin: 36px auto 0px;
  }
  .block2 h1 {
    width: 280px;
    height: 54px;
    margin: 0 auto;
  }
  .block2 img {
    width: 120px;
    height: 120px;
    margin: 0 58px;
  }
  .block2_inside {
    width: 236px;
    height: 890px;
    margin: 11px auto 0px;
  }
  .block2__but button {
    width: 280px;
    height: 40px;
    margin: 36px auto 0px;
  }
  .block3 {
    width: 300px;
    height: 987px;
    margin: 120px auto 0px;
  }
  .block3 h1 {
    width: 280px;
    height: 54px;
    margin: 0 auto;
  }
  .block3_inside {
    width: 300px;
    height: 900px;
    margin: 33px auto 0px;
  }
  .block3_inside1, .block3_inside2, .block3_inside3, .block3_inside4, .block3_inside5, .block3_inside6, .block3_inside7 {
    width: 300px;
    height: 120px;
  }
  .block3_inside1 {
    background-image: url(../img/block3/Bitmapmob.png);
  }
  .block3_inside2 {
    background-image: url(../img/block3/Bitmap2mob.png);
  }
  .block3_inside3 {
    background-image: url(../img/block3/Bitmap3mob.png);
  }
  .block3_inside4 {
    background-image: url(../img/block3/Bitmap4mob.png);
  }
  .block3_inside5 {
    background-image: url(../img/block3/Bitmap5mob.png);
  }
  .block3_inside6 {
    background-image: url(../img/block3/Bitmap6mob.png);
  }
  .block3_inside7 {
    background-image: url(../img/block3/Bitmap7mob.png);
  }
  .block3 p {
    margin: 47px auto;
  }
  .block4 {
    width: 280px;
    height: 192px;
    margin: 35px auto 0px;
  }
  .block4 h1 {
    width: 280px;
    height: 54px;
    margin: 0 auto;
  }
  .block4 p {
    width: 280px;
    margin: 9px auto 0px;
  }
  .block4 .example {
    width: 280px;
    height: 90px;
  }
  .block4 input {
    width: 280px;
  }
  .block4 button {
    width: 280px;
    margin: 10px auto 0px;
  }
  footer {
    width: 320px;
    height: 204px;
    margin: 40px auto 22px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer h1 {
    margin: 19px auto 0px;
  }
  footer .company {
    width: 280px;
    height: 70px;
    margin: 40px 56px 0px 0px;
    margin: 13px auto 0px;
  }
  footer .company h2 {
    margin: 0 106px 0;
  }
  footer .company p {
    display: none;
  }
  footer .company .pppp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 240px;
    height: 52px;
    margin: 0px 0px 0px 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #999999;
  }
  footer .partners {
    margin: 6px 128px 0px;
  }
  footer .designed {
    width: 110px;
    margin: 14px 105px 0px;
  }
  footer .designed img {
    margin: 7px 0px 0px;
  }
}
/*# sourceMappingURL=main.css.map */